<!DOCTYPE html>
<html ng-app="wordModule">
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="style.css"/>

  <title>Corporate-tify</title>
</head>


<body ng-controller="wordGeneratorController">

  <div id="button-wrapper">
    <button type="button" ng-click="wordclick(generateWord)">WORDS</button>
    <button type="button" ng-click="fancywordclick()">FANCY WORDS</button>
    <button type="button" ng-click="phraseclick(generatePhrase)">PHRASES</button>
    <button type="button" >FANCY PHRASES</button>
  </div>

  <div id="text-output">
    <span ng-repeat="word in wordDisplay track by $index">{{word}} </span>

    <span ng-repeat="fancyword in fancyWordDisplay track by $index">{{fancyword}} </span>
  </div>





<script src="libs/angular.min.js"></script>
<script src="script.js"></script>

</body>
</html>
