<!DOCTYPE html>
<html ng-app="wordModule">
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="style.css">

  <script src="libs/angular.min.js"></script>
  <script src="script.js"></script>

  <title>Corporate-tify</title>
</head>


<body ng-controller="wordGeneratorController">

  <div id="button-wrapper">
    <button ng-click="wordclick()">WORDS</button>
    <button ng-click="phraseclick()">PHRASES</button>
    <button ng-click="fancywordclick()">FANCY WORDS</button>
    <button ng-click="fancyphraseclick()">FANCY PHRASES</button>
  </div>

  <div id="text-output">
    <ul>
      <li ng-repeat="word in wordDisplay track by $index" class="ng-class: {{word.class}}">{{word.text}}</li>
    </ul>
  </div>







</body>
</html>
